* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --bg_linear_gradient_to_right: linear-gradient(to right, #fe8077, #fca04a, #f24640, #c1679f, #6562f9, #202144);
  --bg_color: #1f1d21;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 600;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1;
  background-color: var(--bg_color);
  color: #ffffff;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg_color);
  color: #ffffff;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.header {
  padding: 60px 0px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
}

.menu-link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.search {
  position: relative;
  width: 280px;
  height: 40px;
  background: var(--bg_linear_gradient_to_right);
  border-radius: 30px;
}

.search-input {
  height: 38px;
  display: block;
  width: 98%;
  border-radius: 30px;
  padding: 0 10px;
  border: 1px solid #1f1d21;
  background-color: var(--bg_color);
  top: 1px;
  position: absolute;
  left: 3px;
  color: #ffffff;
}

.search-input:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background: var(--bg_linear_gradient_to_right);
}

.search-input::-webkit-input-placeholder {
  color: #afafb0;
  font-weight: 300;
}
.search-input::-moz-input-placeholder {
  color: #afafb0;
  font-weight: 300;
}

.search-icon {
  position: absolute;
  font-size: 20px;
  padding: 5px;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  background: var(--bg_linear_gradient_to_right);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.header-info-left,
.header-info-right {
  width: 50%;
}

.header-heading {
  font-size: 80px;
  font-weight: 600;
  line-height: 100px;
  padding: 50px 0px;
  letter-spacing: 2px;
}

.label-primary {
  background: -webkit-linear-gradient(left, #fe8077, #fca04a, #f24640, #c1679f, #6562f9, #202144);
  background: -o-linear-gradient(right, red, yellow);
  background: -moz-linear-gradient(right, red, yellow);
  background: linear-gradient(to right, #fe8077, #fca04a, #f24640, #c1679f, #6562f9, #202144);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  height: 50px;
  width: 160px;
  border-radius: 30px;
  border: none;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
}

.btn-primary {
  background: var(--bg_linear_gradient_to_right);
}

.btn-secondary {
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background-image: var(--bg_linear_gradient_to_right), linear-gradient(101deg, #fe876e, #4c4ab8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--bg_color) inset;
}

.header-info-group-btn {
  display: flex;
  gap: 25px;
}

.header-info-quantity ul {
  display: flex;
  margin-top: 35px;
}

.header-info-quantity .header-info-quantity-item {
  border-right: 1px solid #ffffff;
  padding: 0 35px;
  list-style: none;
}

.header-info-quantity .header-info-quantity-item:first-child {
  padding-left: 0px;
}

.header-info-quantity .header-info-quantity-item:last-child {
  border: none;
}

.num {
  font-size: 24px;
  font-weight: 600;
}

.sub-num {
  font-size: 16px;
  margin-top: 20px;
}

.header-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header-media-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-media-item-left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--bg_linear_gradient_to_right);
  position: relative;
}

.header-media-item-left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-media-item-right {
  margin-left: 20px;
}

.text-primary {
  font-size: 18px;
  margin-left: 20px;
  line-height: 35px;
  font-weight: 400;
}

.section-nft-artwork,
.section-category,
.section-top-nft {
  margin-top: 115px;
}

.nft-artwork-header,
.category-header,
.top-nft-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-title {
  font-size: 48px;
  font-weight: bold;
}

.nft-artwork-header-right {
}

.text-view-all {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 18px;
}

.nft-artwork-content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 60px;
}

.nft-artwork-content-item {
  background: #2b2a30;
  border-radius: 30px;
  width: 100%;
  position: relative;
}

.nft-artwork-content-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--bg_linear_gradient_to_right);
  margin: 40px auto 0 auto;
}

.nft-artwork-content-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 380px;
}

.nft-artwork-content-item-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 0;
}

.boxed-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  margin-top: 40px;
}

.label1 {
  margin-bottom: 10px;
}

.label2 {
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-place-bid {
  z-index: 1;
  left: 50%;
  position: inherit;
  transform: translate(-50%, 0);
  margin-bottom: 25px;
}

.category-content,
.top-nft-content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-content-item {
  background: #2b2a30;
  border-radius: 30px;
  width: 330px !important;
  position: relative;
  padding: 30px 30px 0px 30px;
  margin: 0 25px;
}

.category-content-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: var(--bg_linear_gradient_to_right);
  margin: 40px auto 0 auto;
}

.category-content-item-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 0;
}

.category-content-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 325px;
}

.category-content-item.slick-current.slick-active {
}

.section-category .slick-track {
  display: flex;
}
.section-category .slick-arrow {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: -100px;
}

.section-category .slick-prev {
  background-color: transparent;
  right: 65px;
}

.section-category .slick-next {
  right: 30px;
  background-color: transparent;
}

.icon-arrow {
  font-size: 24px;
  color: #ffffff;
}

.icon-arrow:hover {
  font-size: 36px;
}

.btn-arrow {
  border: none;
  background: transparent;
}

.top-nft-content-item {
  background: #2b2a30;
  border-radius: 30px;
  width: 330px !important;
  position: relative;
  margin: 0 25px;
}

.top-nft-content-item-img {
  border-radius: 30px 30px 0 0;
  height: 160px;
  width: 100%;
}

.top-nft-content-item-img-avt {
  transform: translate(0px, -50%);
  right: 20px;
  position: absolute;
}

.top-nft-content-info {
  padding: 40px 20px 30px 20px;
}

.top-nft-content-info-name {
  font-size: 18px;
  font-weight: bold;
}

.top-nft-content-info-des {
  margin-top: 15px;
  font-size: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

.top-nft-content-info-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.top-nft-content-info-bottom span {
  font-size: 12px;
}

.btn-follow {
  height: 20px;
  width: 60px;
  font-size: 10px;
}

.section-top-nft .slick-prev,
.section-top-nft .slick-next {
  display: none !important;
}

.section-contact {
  margin-top: 95px;
}

.boxed-contact {
  background: var(--bg_linear_gradient_to_right);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 300px 40px 300px;
  border-radius: 30px;
}

.label-contact {
  font-size: 18px;
  margin-bottom: 12px;
}

.label-contact p {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 60px;
}

.btn-get-started {
  background: #ffffff;
  margin-top: 10px;
}

.btn-get-started p {
  font-weight: bold;
}

.footer {
  margin: 90px 0 60px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 126px;
  padding-bottom: 45px;
  border-bottom: 1px solid;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-desc {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  width: 200px;
  letter-spacing: 1px;
}

.footer-heading {
  margin-bottom: 20px;
}

.footer-links {
  list-style-type: none;
}

.footer-item {
  margin-bottom: 10px;
}

.footer-link {
  color: inherit;
  line-height: calc(30 / 16);
}

.footer .social {
  display: flex;
  align-items: center;
}

.footer .copyright {
  color: #ffffff;
}

.footer-license {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}

.social-icon {
  font-size: 36px;
  color: #ffffff;
  background: var(--bg_color);
  border-radius: 50%;
}

.social-media .icon {
  border-radius: 50%;
}

@media (hover: hover) {
  .menu-link {
    position: relative;
    transition: all 0.2s linear;
  }
  .menu-link:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .menu-link:hover {
  }

  .menu-link:hover:after {
    width: 100%;
    left: 0;
    right: auto;
  }
}

@media screen and (max-width: 1023px) {
  .footer-container {
    gap: 0 30px;
  }

  .nft-artwork-content {
    flex-direction: column;
  }

  .nft-artwork-content-item:not(:first-child) {
    margin-top: 20px;
  }

  .header {
    padding: 25px 0 50px;
  }

  .menu-toggle {
    display: none;
    width: 30px;
    height: 20px;
  }

  .menu-toggle span {
    pointer-events: none;
    width: 100%;
    height: 3px;
    background: var(--bg_linear_gradient_to_right);
    display: block;
  }

  .boxed-contact {
    padding: 20px;
  }

  .label-contact p {
    font-size: 20px;
    line-height: 42px;
  }

  .label-contact {
    font-size: 14px;
  }

  .header-info-left,
  .header-info-right {
    width: 100%;
  }

  .header-media-item-right {
    margin-left: 0;
  }

  .text-primary {
    font-size: 16px;
  }

  .header-heading {
    font-size: 55px;
    line-height: 65px;
  }

  .search {
    width: 185px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--bg_color);
    width: 300px;
    z-index: 99;
    border-left: 1px solid #ddd;
    flex-direction: column;
    gap: 10px 0;
    padding-top: 60px;
    align-items: stretch;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
  }

  .menu.is-show {
    transform: translateX(0);
  }

  .menu-link {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .menu-toggle {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-container {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }

  .header-info-left,
  .header-info-right {
    width: 100%;
  }

  .header-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
  }

  .header-media {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-heading {
    font-size: 45px;
    line-height: 55px;
    padding: 0 0 50px 0px;
  }

  .header-media-item:not(:first-child) {
    margin-top: 20px;
  }

  .search {
    width: 185px;
  }

  .text-title {
    font-size: 36px;
  }
  .text-view-all {
    font-size: 24px;
  }

  .boxed-contact {
    padding: 20px;
  }

  .label-contact p {
    font-size: 20px;
    line-height: 42px;
  }

  .label-contact {
    font-size: 14px;
  }

  .header-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--bg_color);
    width: 300px;
    z-index: 99;
    border-left: 1px solid #ddd;
    flex-direction: column;
    gap: 10px 0;
    padding-top: 60px;
    align-items: stretch;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
  }

  .menu.is-show {
    transform: translateX(0);
  }

  .menu-link {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .menu-toggle {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
